<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>cart</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <style>

    .show{
      display: none;
    }
    @media screen and (max-width: 800px) {
      .hide{
        display:none;
      }
      .show{
        display: inline;
      }
    }

    .inputhide{
         display: none;
    }
  </style>
</head>
<body>
   <div class="container">
    <div class="row mt-5">
      <div class="col-lg-2 col-sm-12">

        <div class="show">
          <svg xmlns="http://www.w3.org/2000/svg" onclick="show()" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
            <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </div>
    
        <div class="hide" id="id">
          <h4><i class="bi bi-card-text"></i></h4>
        <a href="">Cart</a>
          <br>
          
        <a href="{% url 'viewcart' %}">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 32C0 14.3 14.3 0 32 0H48c44.2 0 80 35.8 80 80V368c0 8.8 7.2 16 16 16H608c17.7 0 32 14.3 32 32s-14.3 32-32 32H541.3c1.8 5 2.7 10.4 2.7 16c0 26.5-21.5 48-48 48s-48-21.5-48-48c0-5.6 1-11 2.7-16H253.3c1.8 5 2.7 10.4 2.7 16c0 26.5-21.5 48-48 48s-48-21.5-48-48c0-5.6 1-11 2.7-16H144c-44.2 0-80-35.8-80-80V80c0-8.8-7.2-16-16-16H32C14.3 64 0 49.7 0 32zM432 96V56c0-4.4-3.6-8-8-8H344c-4.4 0-8 3.6-8 8V96h96zM288 96V56c0-30.9 25.1-56 56-56h80c30.9 0 56 25.1 56 56V96 320H288V96zM512 320V96h16c26.5 0 48 21.5 48 48V272c0 26.5-21.5 48-48 48H512zM240 96h16V320H240c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48z"/></svg>
        </a>
        <a href="{% url 'viewcart' %}"><sup> {{cartcount}}</sup></a>
        <br>
        <a href="">Address</a>
        <br>
        <a href="{% url 'logout' %}">LogOut</a>
        </div>
       
      </div>
      <div class="col-lg-10 col-sm-12">
        <div class="row ">
          {% for i in data %}
          <div class="col-lg-3 col-sm-12 mt-5 shadow border">
            <figure class="mt-2 ">
                 <img src={{i.image.url}} width="100%" height="100" />
                 <figcaption>
                  <p> {{i.id}}, {{i.name}} {{i.age}} years old</p>
                 </figcaption>
            </figure>

           <div class="row mb-2">
            <div class="col-6">
              <form action="{% url 'addtocart' %}" method="get">
                <input type="number" value={{i.id}} name="cid" class="inputhide" />
                <input type="submit" value="Add To Cart" />
              </form>
            </div>
            <div class="col-6">
              <form action="{% url 'orderplace' %}" method="post">
                {% csrf_token %}
                <input type="number" value={{i.id}} name="pid" class="inputhide" />
                <input type="submit" value="Buy_Now" />
              </form>
            </div>
           </div>

          </div>
          {% endfor %}
        </div>
      </div>
    </div>
   </div>



   <script>
    function show(){
      document.getElementById('id').style.display = "inline";
    }
   </script>
   
</body>
</html>